package ${package.Service};

    #set($domainName=$!{entity})
    #set($end= $domainName.length() - 2)
    #set($domainName=$domainName.substring(0,$end)+"DTO")

import ${package.Entity}.${entity};
import ${cfg.packageDto}.${domainName};
import com.yonyou.cyx.framework.service.base.ICommonService;

#foreach($field in ${table.fields})
    #if(${field.keyFlag})
        #set($keyPropertyType=${field.propertyType})
    #end
#end
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ICommonService<${domainName},${entity},${keyPropertyType}> {

}
#end
