<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawthorn.admin.repository.sysuser.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.hawthorn.admin.model.sysuser.SysUser">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
    <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="salt" jdbcType="VARCHAR" property="salt"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
    <result column="status" jdbcType="TINYINT" property="status"/>
    <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
    <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, nick_name, avatar, password, salt, email, mobile, status, dept_id, create_by,
    create_time, last_update_by, last_update_time, del_flag
  </sql>
  <sql id="Base_Table_List">
    sys_user
  </sql>

  <!-- select -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    <include refid="Base_Table_List"/>
  </select>

  <select id="selectAllByField" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    <include refid="Base_Table_List"/>
    <where>
      <if test="fieldName != null and fieldName != '' ">
        <choose>
          <when test="fieldValue != null and fieldValue != '' ">
            ${fieldName} = #{fieldValue,jdbcType=VARCHAR}
          </when>
          <otherwise>
            ${fieldName} is null
          </otherwise>
        </choose>
      </if>
    </where>
  </select>

  <select id="selectAllByStatus" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    <include refid="Base_Table_List"/>
    where status = #{status,jdbcType=TINYINT}
  </select>

  <!-- insert -->
  <insert id="insert" parameterType="com.hawthorn.admin.model.sysuser.SysUser">
    insert into sys_user (id, name, nick_name,
      avatar, password, salt,
      email, mobile, status,
      dept_id, create_by, create_time,
      last_update_by, last_update_time, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
      #{avatar,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
      #{deptId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT}
      )
  </insert>
</mapper>
